#container{
    width: 270px;
    height: 499px;
    position: relative;
    overflow: hidden;
    background-color: #0d9ad8;
}

#logo {
width: 80%;
position: absolute;
margin: auto;
display: block;
padding-left: 27px;
padding-top: 30px;

}

#bag {
position: absolute;
top: 60px;
width: 105%;
}

#new {
    position: absolute;
    top: 170px;
    left: 30px;
    width: 25%;
}

#premium {
    position: absolute;
    bottom: 140px;
    left: 10px;
    width: 90%;
}

#chocolates {
    position: absolute;
    bottom: 147px;
    left: 148px;
    width: 40%;
}

#trex {
    position: absolute;
    bottom: 35px;
    left: 30px;
    width: 80%;
}

.kisses{
    width: 68%;
}

#purple {
    position: absolute;
    bottom: -3px;
    left: 55px;
}
#orange {
    position: absolute;
    bottom: 70px;
    left: 100px;
}

#pink{
    position: absolute;
    bottom: 92px;
    left: -10px; 
}